
:root{
  --main-border-color: #e08098;
  --main-background-color: #e5c0c9;
  --skyblue: rgb(155, 231, 241);
}

h1{
  text-align: center;
  background-color: var(--skyblue);
  border-radius: 10px;
}

h2{
  text-align: center;
}

.mess {
    resize: none;
    background-color: var(--skyblue);
    border-color: rgb(0, 140, 255);
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 1px;
    padding: 5px;
    width: 90%;
    animation-name: newMessage;
    animation-duration: 0.5s;
  }



.chatbackground{
  background-color: var(--main-background-color);
  border-color: var(--main-border-color);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  width: 100%;
  height: 30%;
  position: relative;
}

.inputmessage{
  margin: 10px;
}

.refresh{

  background-color: var(--skyblue);
  border-radius: 10px;
  
}

.inputdiv{
  position: absolute;
  bottom: 0;
  max-height: 100%;
}

.messagebox{
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.grid {
  display: grid;
  width: 100%;
  height:600px;

  grid-template-columns: 50% 20%;

}

.gridnews {
  grid-column-start: 3;
}

.user {
  color:rgb(2, 10, 87);
  font-size: 10px;
  margin-left:20px;
  margin-bottom: -15px;
  margin-top: 4px;
  
}

@keyframes newMessage {
  50%  {transform: scaleY(0.8);}
}
