textarea {
    resize: none;
    background-color: rgb(155, 231, 241);
    
    border-radius: 10px;
    margin-left: 7px;
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 1px;
    padding: 5px;
    width: 333px;
    animation-name: newMessage;
    animation-duration: 0.5s;
  }



.chatbackground{
  background-color: #e5c0c9;
  border-color: #e08098;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  position: relative;
}

.inputmessage{
  margin: 10px;
}

.inputdiv{
  position: absolute;
  bottom: 0;
  max-height: 100%;
}

.messagebox{
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.grid {
  display: grid;


  border-color: #000000;
  border-width: 2px;
  border-style: solid;

  
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.gridnews {

  border-color: #000000;
  border-width: 2px;
  border-style: solid;

  grid-column-start: 4; 
}

@keyframes newMessage {
  50%  {transform: scaleY(0.8);}
}
